* {
  font-family: 'Roboto';
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain-container {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  padding: 80px;
  border-radius: 20px;
  text-align: center;
}
.heading {
  color: #0f172a;
  font-size: 40px;
}
.paragraph {
  color: #334155;
  font-size: 20px;
  font-weight: 500;
}
.button {
  border: none;
  border-radius: 10px;
  color: #334155;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
}
.comment {
  color: #334155;
  font-size: 12px;
  font-weight: 500;
}
